@use '@angular/material' as mat;
/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";

@import "./mixins";

@include responsive-dialogs;

.mat-mdc-card.mat-elevation-z7 {
  @include mat.elevation(7);
}

.mat-horizontal-stepper.mat-elevation-z5 {
  @include mat.elevation(5);
}

button.highlight-date {
  background: red;
  border-radius: 100%;
}

.collapsed-detail {
  display: none;
}

.scrolling-container {
  overflow: auto;
  max-height: 250px;
  max-width: 250px;
}
