
<div class="courses-panel">

  <div class="header">

    <h2 class="title">All Courses</h2>

    <button mat-mini-fab routerLink="/add-new-course" matTooltip="Create New Course">
      <mat-icon class="add-course-btn" >add</mat-icon>
    </button>

  </div>

  <mat-tab-group>
    <mat-tab label="Beginners">
      <courses-card-list [courses]="beginnerCourses$ | async"></courses-card-list>
    </mat-tab>

    <mat-tab label="Advanced">
      <courses-card-list [courses]="advancedCourses$ | async"></courses-card-list>
    </mat-tab>
  </mat-tab-group>

  <!-- <mat-card appearance="outline">
    <mat-card-content>
      <div class="flex justify-content-between">
        <div class="card-title">

        </div>
        <div>
          <button class="supv-button-primary row-gutters-md" (click)="addNew()">Add New</button>
        </div>
        <div>
          <button class="supv-button-secondary">Delete</button>
        </div>
      </div>
      <div class="list-container">
        <mat-spinner *ngIf="isLoading && !isError" aria-label="loading"></mat-spinner>
        <p *ngIf="isError">Error ocurred loading</p>
        <div *ngIf="!isLoading && ! isError">
          <supv-expandable-table ></supv-expandable-table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
 -->
</div>

